.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 720px;
	height: 100%;
	margin: 40px auto;
	text-align: center;
}

.title {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	color: var(--ifm-color-primary);
}

.topic {
	position: absolute;
	transform: translateX(100%);
	right: 0;
	padding: 8px;
	font-size: 16px;
	color: grey;
	border: 0;
	background: transparent;
	text-transform: capitalize;
	cursor: pointer;
}

.topicLink {
	font-size: 14px;
	font-style: italic;
	color: #858585;
}

.question {
	min-height: 220px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: bold;
}

.question h3 {
	font-size: 32px;
	line-height: 1.3;
}

.question a {
	text-decoration: underline;
	color: #858585;
}

.bookmarkBtn {
	position: absolute;
}

.bookmarkIcon {
	color: var(--ifm-color-gray-600);
}

.bookmarkActive {
	color: var(--ifm-color-warning);
}

.actionBar {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
}

.actionBar button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.seeAnswerBtn {
	font-weight: 400;
}