.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 720px;
	height: 100%;
	margin: 40px auto;
	text-align: center;
}

.title {
	text-transform: uppercase;
	font-size: 18px;
	color: var(--ifm-color-primary);
}

.topic {
	font-size: 16px;
	text-align: center;
	color: grey;
	border: 0;
	background: transparent;
}

.question {
	min-height: 180px;
	display: flex;
	align-items: center;
	font-size: 32px;
	font-weight: bold;
}

.question a {
	text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-color: grey;
	line-height: 1.3;
}

.nextButton {
	width: fit-content;
}
